*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family:"roboto mono";
  background:#1e1e3f;
  color: #d0d0d0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container{
  /* background:white;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  padding: 40px; */
  max-width: 1500px;
  width: 100%;
  /* border: 1px solid white; */
}

.stats{
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #f4f4ff;
  /* border: 1px solid white; */
   
}

.stat{
  text-align: left;
  /* border: 1px solid white; */
  /* background-color:  rgba(148, 0, 211, 0.15); */
  border-radius:6px ;
  padding: 5px;

}
.stat .label{
  display: flex;
  justify-content: space-evenly;
  font-size:12px;
  color: #f4f4ff;
  /* border-bottom:1px solid #f4f4ff; */
  text-transform:uppercase;
  letter-spacing: 2px;
  margin-bottom: 8px;
  font-weight: 500;
  /* border: 1px solid white; */
}

.stat .value{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-size:28px ;
  font-weight: bold;
  letter-spacing: 2px;
  color: #f4f4ff;
  /* border: 1px solid white; */
}

.words-container{
  margin-bottom:40px ;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: flex-start;
  align-content: flex-start;
  /* border: 1px solid white; */
}

.word{
  font-size:32px ;
  padding: 4px;
  transition:color 0.1s;
  letter-spacing: 1px;
  font-weight: 400;
  color: #bfc0e0;
  /* border: 1px solid white; */
}

.word.current{
 color: #f4f4ff;
 background: rgba(255, 255, 255, 0.08);
 border-radius: 4px;
}

.word.correct{
  color: #f4f4ff;
  opacity: 0.2;
}

.word.incorrect{
  color: #e84a5f;
  opacity: 0.85;
}

.input-section{
  margin-bottom: 30px;
  /* border: 1px solid white; */
}

#typingInput{
  width:100%;
  padding: 0px;
  font-size: 20px;
  border: none;
  border-bottom:2px solid #f4f4ff;
  background: transparent;
  color: #f4f4ff;
  transition: border-color 0.2s;
  letter-spacing: 1px;
  outline: none;
  font-family: 'Courier New',monospace;
  transition: border-color 0.3s;
  
}

#typingInput:focus{
  border-bottom-color: #f4f4ff;
  transition: all 0.2s;
}

#typingInput::placeholder {
  color: #4a4a6a;
}

#typingInput:hover{
  border-bottom-color: #9400d3;
  transition: all 0.2s;
}


.reset-btn {
padding: 8px;
font-size:14px ;
background:transparent;
color: #f4f4ff;
border: none;
cursor: pointer;
font-family: 'Courier New',  monospace;
text-transform: uppercase;
letter-spacing: 1px;  
transition: color 0.2s;
font-weight: 400;
display: block;
margin: 0 auto;
}

.reset-btn:hover {
  color: #f4f4ff;
  background-color:  rgba(148, 0, 211, 0.15);
  border-radius: 6px;
  transition: all ease 0.5s;
}


